* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.MuiDataGrid-root {
  border-color: transparent !important;
  background-color: #1D263D;
  border-radius: 8px !important;
}

.MuiDataGrid-root .MuiDataGrid-overlay {
  background-color: transparent;
}

.MuiDataGrid-root .MuiDataGrid-withBorderColor {
  border-color: #151C2D !important;
}

.MuiDataGrid-root .MuiCheckbox-root,
.MuiDataGrid-root .MuiCheckbox-root.Mui-checked,
.MuiDataGrid-root .MuiTablePagination-input svg,
.MuiDataGrid-root .MuiTablePagination-actions .MuiButtonBase-root {
  color: rgba(255, 255, 255, 0.8);
}

.MuiDataGrid-root .MuiCheckbox-root svg {
  width: 20px;
}

.MuiDataGrid-root .MuiTablePagination-actions .MuiButtonBase-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.4);
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader .MuiDataGrid-columnSeparator {
  z-index: -1;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.MuiDataGrid-root .MuiDataGrid-columnHeader .MuiButtonBase-root {
  color: rgba(255, 255, 255, 0.8);
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
  cursor: pointer;
}

.MuiDataGrid-root .MuiDataGrid-virtualScroller {
  overflow-y: auto !important;
}

.MuiInputBase-root {
  border-radius: 8px !important;
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
  color: rgba(255, 255, 255, 0.7) !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.7) !important;
}

.MuiInputBase-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.4) !important;
}

.MuiPaper-root {
  background-color: #414d6b !important;
}

.onesignal-bell-container {
  display: none !important;
}

@media (hover: none) {
  *:hover {
    text-decoration: none;
  }
}
